:root {
    --bg:#428C71;
    --text:#043322;
    --alt-bg-text:#E1F1EB;
    --border:#185941;
}

body {
    background-color: var(--bg);
}

h1 {
    font-family: 'Bubblegum Sans', sans-serif;
    color: var(--alt-bg-text);
    text-align: center;
}

.credit {
    margin: 0 auto;
    text-align: center;
}

h2, h3 {
    font-family: 'Bubblegum Sans', sans-serif;
    color: var(--text);
}

p {
    font-family: 'Open Sans', serif;
    color: var(--text);
    max-width: none;
}

.p-card {
    background-color: var(--alt-bg-text);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: var(--border);
    max-width: 1000px;
    margin: 0 auto;
}

#credit {
    font-family: 'Open Sans', serif;
    color: var(--alt-bg-text);
}

button {
    background-color: var(--border);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: var(--bg);
    color: var(--alt-bg-text);
}

button:hover {
    background-color: var(--alt-bg-text);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: var(--border);
    color: var(--text);
}

#name-info {
    font-weight: bold;
}

input {
    max-width: 500px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 150px;
}